/****************************
GENERAL
*****************************/
/*Site body*/
*{box-sizing:border-box;}
.clearfix::after { content: "."; display:table; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }

body {font-family: 'Open Sans' , 'sans-serif'; background-color: purple;color: #fff;margin: 0;height: 100%;}
img {max-width: 100%;}
h4 {margin: 6rem 0 1rem 0;color: #aaa;}
h1::first-letter {color:rgba(239,159,4, 1);}

#wrapper {margin:0 auto;position: relative;}
#topNav {height:100%;width: 100%;}
.text-container-about::first-line{color:rgba(239,159,4, 1);}
.content-visible-portfolio{text-align: center; position:absolute;top:80rem;right:0;left:0; background:rgba(0,0,0,0.7);max-width:70%;margin:0 auto; padding:2rem;font-size: 2rem; z-index: 50;visibility: visible;opacity: 1;transition: opacity 2s linear;}
.content-visible-portfolio h1{position: relative; padding-bottom: 1.2rem; border-bottom: 0.1rem solid #fff; color:#aaa;}
.text-container-portfolio{text-align: center; margin: 3rem;}
#client-list{margin: 3rem 0; height:30rem;width: 100%; display: inline-block;border: 1px solid #fff;}
.divider {float: left; width: 1px;background-color: #fff;margin: 4rem 0rem;height: 20rem;}

/*.services h4:hover{color:#fff;text-shadow:2px 2px 1rem #000;}*/

.content-visible-contact{text-align: center; position:absolute;top:156rem;right:0;left:0; background:rgba(0,0,0,0.7);max-width:70%;margin:0 auto; padding:4rem;font-size: 2rem; z-index: 50;visibility: visible;opacity: 1;transition: opacity 2s linear;}
.content-visible-contact h1{font-size: 3rem; position: relative;color:#aaa;margin: 0 auto; padding:1.2rem 0; border-bottom: 0.1rem solid #fff;}
.content-visible h1::first-word {color:rgba(239,159,4, 1);}
.text-container-contact{text-align: center; margin: 2rem 0 0 0;}
/*#client-list li{width: 10%;/* fallback if needed width: calc(100% / 10);color: #333;font-size: 1.5rem;}*/
.phoneNumber {color:#fff;}
#phone{ font-family: tahoma, sans-serif; margin: 2rem 0 0;}
#phoneicon {height:auto; width: auto; max-width: 1.75rem; max-height: 1.75rem;}
#section3{height: 100rem;overflow: hidden;}
#contact-table {margin: 0 auto;width: 80%;text-align: center;padding: 5rem;}
#submitbtn {font-size: 1rem;border: 1px solid #fff;color: #fff; padding: 1rem;font-weight: bold;background: rgba(0,0,0,0);}
#submitbtn:hover {background:rgba(155,155,155,0.5);}

/****************************
Header
*****************************/
/*#name0 {text-shadow: 0.2rem 0.2rem 0.2rem #000;}*/
ul {float:right;list-style: none;}
a {text-decoration: none; color:#000;}
nav li {transition: all 0.2s ease-in;}
a:hover {color: rgba(239,159,4, 0.5);}
header{position:fixed;width:100%;background:#FFF;margin: 0 auto;overflow: hidden;height: 8%;z-index: 100;font-family: 'Amiko', 'Helvetica',sans-serif;}

/****************************
Footer
*****************************/
footer {background: #F3F3F3; clear:both;text-align: center;font-size: 0.75em;padding: 10%;}
#footer-nav {display: block;}
/*Nave link*/
/*nav a, nav a:visited {font-weight:800;width: 100%;} */
/*Nav link selected*/
/*nav a.selected, nav a:hover{background-color:#32673f;}	*/


.social-icon{width: 20px;height: 20px;margin: 0 5px;}



/****************************
Main
*****************************/

.bgimage {background: #434a52 no-repeat center;background-size: cover;z-index: -1;position: relative;}



/****************************
Contact TO BE IMPLEMENTED 
*****************************/
/*#secondary{overflow:hidden;}

.contact-info{wlist-style: none;margin: 0;padding: 0;font-size:0.9em;}

.contact-info a{margin:0 0 10px;display: block;min-height: 20px;background-repeat: no-repeat;background-size: 20px 20px;padding: 0 0 0 30px;}

.contact-info li.phone a{background-image: url('../img/phone.png');	}

.contact-info li.mail a{background-image: url('../img/mail.png');	}

.contact-info li.twitter a{background-image: url('../img/twitter.png');	}

*/